body {
  width: 100wh;
	height: 90vh;
  background-color: #efefef;
}

.text-center {
  text-align: center;
}

img.avatar {
  width: 120px;
  height: 120px;
  background-image: url(images/renato_nitta_avtr_2023.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -moz-box-shadow: 0px 6px 5px #111;
  -webkit-box-shadow: 0px 6px 5px #111;
  box-shadow: 0px 2px 10px #111;
  -webkit-border-radius: 190px;
  border-radius: 190px;
  border: solid 3px;
  margin: 70px auto 0 auto;
}

ul.no-style {
  margin: 0;
  padding: 0;
}

.no-style li {
  list-style: none;
}

.btn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #2d3748;
  border: 1px solid #cbd5e0;
  line-height: 26px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn svg {
  margin-right: 10px;
}
